body{
    /*background-image: url("bgimg.gif");*/
    animation: pulse 10s infinite;
}

@keyframes pulse{
    0%{
        background-color: black;
    }
    50%{
        background-color: #480607
        ;
    }
    100%{
        background-color: black;
    }
}

.index{
    padding-top: 20px;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
    transition: 0.4s;
}

.about{
    padding-top: 20px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 15%;
    transition: 0.4s;
}
.index:hover{
    border-radius: 50%;
}

.url{
    text-decoration: none;
    color:whitesmoke;
}

body h1 {
    font-family: 'Cascadia Code';
    color: gold;
    animation: myani 2s infinite;
    text-align: center;
    font-weight: bold;
}
/*@keyframes myani {
    0%{
        color:ivory;
    }
    50%{
        color:gold;
    }
    100%{
        color:ivory;
    }
}*/
body p {
    border:powderblue;
    font-size: 18px;
    font-family: "Cascadia Code";
    text-align: center;
    font-weight: bold;
    color: wheat;
}

button {
   background-color:snow;
   border: none;
   color:orchid;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 10px;
   font-family: "Cascadia Code";
   justify-content: center;
   transition:500ms;
}

button:hover{
    transition: 500ms;
    background-color:red;
    color:whitesmoke;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    animation: navigationanimated 10s infinite;
}

@keyframes navigationanimated{
    0%{
        background-color: black;
    }
    50%{
        background-color: #480607
        ;
    }
    100%{
        background-color: black;
    }
}

li {
    float: left;
    margin-left: 23%;
}
li a {
    font-family: 'Cascadia Code';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:500ms;
}
li a:hover {
    transition: 500ms;
    background-color: #DAC45F;
}

.paragraph {
    background-color:none;
    width: 90%;
    border: 2px crimson solid;
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    animation: animatedborder 3s infinite;
}

/*@keyframes animatedborder {
    0%{
        border: 5px crimson solid;
    }
    50%{
        border: 5px blue solid;
    }
    100%{
        border: 5px crimson solid;
    }
}*/

.know{
    font-size: 25px;
    text-align: center;
}

#logos img{
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4%;
    width: 4%;
    display: inline;
    padding-left:20px;
    padding-right: 20px;   
}

.foot{
    font-family: "Cascadia Code";
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
    padding:20px;
}
